.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-top: 1px solid gray
}

.wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

}