.container-home {
    display: flex;
    flex-direction: column
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.container-home button{
    font-style: 24px;
    background: #007aff;
    width: 50%;
    margin-top: 30px;
    align-self: center
}